name: Blender daily build

on:
  workflow_dispatch:

jobs:
  build_blender:
    name: Build Blender
    runs-on: ubuntu-latest
    steps:
      # - name: Checkout Blender source code from Blender official repository
      #   run: |
      #     mkdir -p blender-build
      #     cd blender-build
      #     git clone https://projects.blender.org/blender/blender.git
      # - name: Install initial packages
      #   run: |
      #     sudo apt update
      #     sudo apt install python3 git git-lfs
      # - name: Install basic building environment
      #   run: |
      #     cd blender-build/blender
      #     ./build_files/build_environment/install_linux_packages.py
      # - name: Download libraries
      #   run: |
      #     cd blender-build/blender
      #     ./build_files/utils/make_update.py --use-linux-libraries
      # - name: Build Blender
      #   run: |
      #     cd blender-build/blender
      #     make update
      #     make
      # - name: Test Blender Binary
      #   run: |
      #     ./blender-build/build_linux/bin/blender --background --factory-startup -noaudio
      - name: Create fake build for testing
        run: |
          mkdir -p release/blender
          echo "This is a test Blender build" > release/blender/blender
          echo "Test file 1" > release/blender/test1.txt
          echo "Test file 2" > release/blender/test2.txt
          cd release
          tar Jcf blender.tar.xz blender
          rm -rf blender
      - name: Create MD5 checksum file
        run: |
          cd release
          md5sum blender.tar.xz > blender.tar.xz.md5
      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: blender-build-${{ steps.date.outputs.date }}
          name: Blender Build ${{ steps.date.outputs.date }}
          draft: false
          prerelease: false
          files: |
            release/blender.tar.xz
            release/blender.tar.xz.md5
